$color-dark: #334443;
$color-green: #34656d;

$color-green-light: #c6ffc1;
$color-beige: #fffbdf;
$height-nav: 60px;
$height-footer: 100px;
$padding-base: 20px;
$color-dark: #334443;
$color-green: #34656d;
$color-green-light: #c6ffc1;
$color-beige: #fffbdf;
$font-description: 26px;


@keyframes titleAnimation {
    from{
        left: -100%;
        opacity: 0
    }
    to{
        left: 0;
        opacity: 1;
    }
}

@keyframes cardAnimation {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
    
.card:first-child{
    animation-delay: 1s;
}
.card:nth-child(2){
    animation-delay: 1.5s;
}

.card:nth-child(3){
    animation-delay: 2s;
}
.card:nth-child(4){
    animation-delay: 2.5s;
}   

.card{
    opacity:0;
    animation: 0.8s cardAnimation   ease-in-out;
    animation-fill-mode: forwards;
}
.container {
    margin-top: 60px;
    
    
}

.card-group {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    margin: 50px;
    
    
}

.aboutus-title {
    background-color: #c6ffc1;
    margin-left: 0;
    width: 350px;
    margin-top: 60px;
    border-radius: 5px;
    animation: 0.5s titleAnimation ease-in-out;
    position: relative;
        h1{
            color: #334443;
            font-size: 50px;
            font-family: 'Dhurjati', sans-serif;
            margin-left: 60px;
            font-weight: bolder;

    }
}
.leaders-title {
    background-color: #c6ffc1;
    margin-left: 0;
    width: 400px;
    margin-top: 60px;
    border-radius: 5px;
        h2{
            color: #334443;
            font-size: 50px;
            font-family: 'Dhurjati', sans-serif;
            margin-left: 60px;
            font-weight: bolder;

    }
}

.card-title {
    padding-top: 20px;
    color: #c6ffc1;
    text-align: center;
}

.card {
    font-family: 'Roboto Condensed', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    margin: 20px;
    padding: 20px;
    color: #fffbdf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34656d), to(#5ab7c5ad));
    background-image: linear-gradient(#34656d, #5ab7c5ad);
    -webkit-box-shadow: 2px 2px 8px #4f6968;
            box-shadow: 2px 2px 8px #4f6968;
    width: 33%;
    border-radius: 5px;

    


    img {
        height: 20vh;
        border-radius: 50%;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
        height: 200px;
    }
    h2 {
        padding-top: 20px;
        color: #c6ffc1;
    }
    p{
        padding-bottom: 50px;
        padding-top: 20px;
    }
}



.bg-img {
    border: 1px solid black;
    width: 100%;
    height:400px;
    background-image: url("../img/vobd29dt18251.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    animation: 1s cardAnimation ease-in-out;
    animation-fill-mode: forwards;
    opacity:0;
}




@media only screen and (max-width: 768px) {

    .card-group {
        display: flex;
        flex-direction: column;
        .card {
            width: 100%;
            margin: auto;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;

        }
    }
} 
@media only screen and (min-width: 769px) and (max-width: 1250px){

    .row-3 {
        .card-group {
            display: flex;
            flex-wrap: wrap;
            
            box-sizing: border-box;

            .card {
                width: calc(50% - 60px);
                box-sizing: border-box;
                padding: 30px;
                margin: 30px;

            }
        }

    }

}