$color-dark: #334443;
$color-green: #34656d;
$color-green-light: #c6ffc1;
$color-beige: #fffbdf;

$height-nav: 60px;
$height-footer: 100px;
$padding-base: 20px;
$color-dark: #334443;
$color-green: #34656d;
$color-green-light: #c6ffc1;
$color-beige: #fffbdf;
$font-description: 26px;

*{
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: #334443;
    margin: auto
}
.container {
    margin-top: 60px;
    justify-content: center;
    display: grid;
}


.card{
    padding: 20px;
color: #fffbdf;
background-image: linear-gradient(#34656d, #5ab7c5ad);
box-shadow: 2px 2px 8px #4f6968;

}

.row-2 {
    img {
        height: 200px;
        width: 300px;
    }   
}

.row-1 {
    img {
            width: 100%;
            height: 400px;
    }
}

.row {
    margin: 50px;
}

@media only screen and (max-width: 1250px) {
    
    .row-2 {
        .card {
            img {
                width: 100%;
            }
        }
    }
  }