.servicestitlecontainer, .bookingtitle-outer{
    position: relative;
    left: -100%;
    opacity:0;
    animation: 0.5s titleAnimation ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes titleAnimation {
    from{
        left: -100%;
        opacity: 0
    }
    to{
        left: 0;
        opacity: 1;
    }
}

.servicescard, .servicesbutton, .bookingtext{
    opacity:0;
    animation: 1.5s cardAnimation ease-in-out;
    animation-fill-mode: forwards;
}
.servicesbutton{
    animation-delay: 1.5s;
}
.bookingform{
    animation: 0.8s cardAnimation ease-in-out;
}
@keyframes cardAnimation {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
.servicescard:first-child{
    animation-delay: 0.5s;
}
.servicescard:nth-child(2), .bookingtext{
    animation-delay: 0.8s;
}

.servicescard:nth-child(3){
    animation-delay: 1.1s;
}
