


nav{
    position:fixed;
    top:0;
    left:0;
    height: $height-nav;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 100%;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    background-color: $color-dark;
    font-weight: bolder;
    font-size: 32px;
    z-index: 10;
    font-family: 'Dhurjati', sans-serif;
    border-bottom: 1px solid $color-beige;

    #logo{
        position: absolute;
        top: 0;
        left: 0;
        align-self: center;
    img{
        height: 40px;
        margin: 10px;
    }

    }

    a{
        padding: $padding-base;
    }
    #logo{
        padding: 0;
    }
    a, a:visited, a:focus{
        text-decoration: none;
        color: $color-beige;
    }
    a:hover{
        color: $color-green;
    }
    a.active{                           //aad class .active to <a> to specify active page
        color: $color-green;

    }
    @media only screen and (max-width: 600px){
        font-size: 28px;
    }
    @media only screen and (max-width: 400px){
        font-size: 24px;
        a{
            padding: 0.5*$padding-base;
        }
    }

}

nav.home-nav-animation{
    position: relative;
    top: -$height-nav;
    opacity: 0;
    animation: 0.5s home-nav-animation ease-in-out;
    animation-fill-mode: forwards;
    max-width: 100%;
    animation-delay: 2s;
}
@keyframes home-nav-animation{
    0%{
        position:relative;
        top: -$height-nav;
        opacity: 0;

    }
    100%{
        position: fixed;
        top: 0;
        opacity: 1;
    }
}
