@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dhurjati&display=swap");
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 100%;
  grid-auto-flow: column;
  align-items: center;
  justify-content: end;
  background-color: #334443;
  font-weight: bolder;
  font-size: 32px;
  z-index: 10;
  font-family: "Dhurjati", sans-serif;
  border-bottom: 1px solid #c6ffc1;
}
nav #logo {
  position: absolute;
  top: 0;
  left: 0;
  align-self: center;
}
nav #logo img {
  height: 40px;
  margin: 10px;
}
nav a {
  padding: 20px;
}
nav #logo {
  padding: 0;
}
nav a, nav a:visited, nav a:focus {
  text-decoration: none;
  color: #fffbdf;
}
nav a:hover {
  color: #c6ffc1;
}
nav a.active {
  color: #c6ffc1;
}
@media only screen and (max-width: 600px) {
  nav {
    font-size: 28px;
  }
}
@media only screen and (max-width: 400px) {
  nav {
    font-size: 24px;
  }
  nav a {
    padding: 10px;
  }
}

#home {
  margin-top: 60px;
}
#home #moon {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#home .content {
  position: relative;
  height: calc(100vh - 60px);
  box-sizing: border-box;
  color: #fffbdf;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
}
#home .content .title {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: "Dhurjati", sans-serif;
  font-size: 160px;
  align-self: start;
  padding-left: 80px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#home .content .description {
  font-size: 26px;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 100%;
  grid-auto-flow: column;
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 40px 40px 40px 40px;
  margin-left: 5%;
  align-self: start;
  justify-self: start;
  padding: 60px;
  background-color: black;
  overflow: hidden;
  animation: 1s fade-in ease-in-out;
  animation-fill-mode: forwards;
}
#home .content .description .slogan {
  font-size: 40px;
  text-transform: capitalize;
  padding: 40px 0;
}
#home .content .description a {
  color: #fffbdf;
  font-weight: bolder;
}
#home .content .description .description-item1, #home .content .description .slogan, #home .content .description .description-item3 {
  position: relative;
  right: -120%;
  animation: 1s move-effect ease-in-out;
  animation-fill-mode: forwards;
  max-width: 100%;
}
#home .content .description .slogan {
  animation-delay: 0.5s;
}
#home .content .description .description-item3 {
  animation-delay: 1s;
}
@keyframes move-effect {
  0% {
    right: -120%;
    opacity: 0;
  }
  100% {
    right: 0%;
    opacity: 1;
  }
}
@media only screen and (min-width: 600px) and (max-width: 950px) {
  #home .content {
    font-size: 26px;
  }
  #home .content .title {
    font-size: 130px;
  }
  #home .content .description {
    padding: 40px;
  }
  #home .content .description h3 {
    font-size: 24px;
  }
  #home .content .description .slogan {
    font-size: 36px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  #home .content .title {
    font-size: 90px;
    padding: 0;
  }
  #home .content .description {
    padding: 20px;
  }
  #home .content .description h3 {
    font-size: 20px;
  }
  #home .content .description .slogan {
    font-size: 30px;
  }
}

* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: #334443;
  margin: auto;
}

.container {
  margin-top: 60px;
  justify-content: center;
  display: grid;
}

.card {
  padding: 20px;
  color: #fffbdf;
  background-image: linear-gradient(#34656d, #5ab7c5ad);
  box-shadow: 2px 2px 8px #4f6968;
}

.row-2 img {
  height: 200px;
  width: 300px;
}

.row-1 img {
  width: 100%;
  height: 400px;
}

.row {
  margin: 50px;
}

@media only screen and (max-width: 1250px) {
  .row-2 .card img {
    width: 100%;
  }
}
body {
  background-color: #334443;
  margin: 0;
}

.servicestitle {
  color: #334443;
  font-size: 50px;
  font-family: "Dhurjati", sans-serif;
  margin-left: 60px;
  margin-top: 100px;
}

.servicestitlecontainer {
  background-color: #c6ffc1;
  margin-left: 0;
  width: 400px;
}

.servicesdescriptionsection {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
}

.servicescard {
  margin: 20px;
  padding: 20px;
  color: #fffbdf;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: linear-gradient(#34656d, #5ab7c5ad);
  box-shadow: 2px 2px 8px #4f6968;
  width: 30%;
}

.servicescardtitle {
  padding-top: 20px;
  color: #c6ffc1;
}

.servicescardimg {
  height: 20vh;
  border-radius: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.servicestext {
  padding-bottom: 50px;
  padding-top: 20px;
}

.servicesbuttoncontainer {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.servicesbutton {
  background-color: #c6ffc1;
  color: #334443;
  border-radius: 50px;
  font-size: 30px;
  padding: 15px 30px;
  margin-top: 3em;
  text-decoration: none;
}

.servicesbutton:hover {
  background-color: #c6ffc154;
  color: #fffbdf;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .servicesdescriptionsection {
    display: flex;
    flex-flow: column;
  }

  .servicescard {
    width: 80%;
  }
}
footer {
  height: 100px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  grid-auto-flow: column;
  align-items: center;
  color: #fffbdf;
  border-top: 1px solid #c6ffc1;
}
footer a {
  color: #c6ffc1;
  text-decoration: none;
  font-weight: bolder;
}
footer .gratitude {
  padding-left: 20px;
}
footer .icons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 100%;
  grid-auto-flow: column;
  justify-content: end;
}
footer .icons img {
  width: 40px;
  margin-right: 20px;
}
footer .icons img:hover {
  width: 42px;
}
@media only screen and (max-width: 400px) {
  footer .icons img {
    width: 30px;
  }
  footer .icons img:hover {
    width: 32px;
  }
}
footer .icon {
  border: 1px solid red;
}

body {
  background-color: #334443;
}

.bookingform {
  font-family: "Roboto Condensed", sans-serif;
  color: #fffbdf;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  background-image: linear-gradient(#34656d, #5ab7c5ad);
  box-shadow: 2px 2px 8px #4f6968;
  margin-top: 60px;
}

.fa {
  color: #c6ffc1;
  padding-right: 7px;
}

.btn {
  background-color: #c6ffc1;
  color: #334443;
  border-radius: 50px;
  font-size: 15px;
  padding: 6px 10px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #334443;
  color: #fffbdf;
}

.iconcontainer {
  display: flex;
}

.cardslogo {
  height: 25px;
  padding: 7px;
  border-radius: 15px;
}

.bookingcolumn > * {
  margin-top: 2em;
}

#bookingcolumn2 {
  margin-top: 2em;
}

.bookingtext {
  color: #c6ffc1;
  font-size: 50px;
  font-family: "Dhurjati", sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.bookinggrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  column-gap: 7px;
  row-gap: 20px;
}

.doublecolumn {
  grid-column-start: span 2;
}

@media only screen and (max-width: 768px) {
  .bookingform {
    display: flex;
    flex-flow: column;
  }

  .bookingcolumn {
    width: 80%;
  }
}
h1, h2, h3, h4, h5, h6, p, a {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
