@import "var";
@import "nav";
@import "home";
@import "Aboutus";
@import "Services";
@import "footer";
@import "Bookatrip";
@import "aboutAnimation";


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
//CSS rules to specify families: font-family: 'Roboto Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
//CSS rules to specify families:   font-family: 'Dhurjati', sans-serif';

h1, h2, h3, h4, h5, h6, p, a{
    text-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2) //add text-shadow to all text element to make it smopth and easy to read
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

