$height-nav: 60px;
$height-footer: 100px;
$padding-base: 20px;
$color-dark: #09161c;
$color-green: #5ab7c5ad;
$color-green-light: #e6fcff;
$color-beige: #ffffff;
$font-description: 26px;
$color-card-light: #e6fcff;
$color-card-dark: #5ab7c5ad;
